<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>POC Datagrid</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:switch="${users}">
    <h2 th:case="null">No users</h2>
        <div th:case="*">
            <h2>Users</h2>
            <table>
                <thead>
                    <tr>
                        <th>id</th>
                        <th>title</th>
                        <th>short name</th>
                        <th>family name</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.title}"></td>
                    <td th:text="${user.shortName}"></td>
                    <td th:text="${user.FamilyName}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>